.root {
    -fx-background-color: #0000FF; /* Blue background */
    -fx-font-family: 'Arial', sans-serif;
    -fx-text-fill: white;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 15px;
}

#homeLabel {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#ipText, #portText {
    -fx-background-color: #4682B4; /* Steel Blue background */
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-max-width: 200px;
}

#connectBtn {
    -fx-background-color: #1E90FF; /* Dodger Blue */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, #1E90FF, 5, 0.5, 0, 0);
}

#connectBtn:hover {
    -fx-background-color: #4169E1; /* Royal Blue */
    -fx-text-fill: white;
}

#test {
    -fx-background-color: #4682B4; /* Steel Blue */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

#test:hover {
    -fx-background-color: #1E90FF; /* Dodger Blue */
    -fx-text-fill: white;
}

.center .vbox {
    -fx-spacing: 15px;
}

#winOrLoser {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#amountWonText{
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#totalMoneyLabel{
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#totalWinningsLabel {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}